body {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  background: rgb(74, 60, 200);
}

#container {
  margin: 0 auto;
}

button {
  background: rgb(49, 40, 133);
  font-size: 3em;
  padding: 15px;
  width: 100px;
  height: 100px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: rgb(36, 29, 99);
  transition: 0.3s ease;
}

button:focus {
  outline: 0 !important;
}

button:nth-child(3) {
  border: none;
  border-left: 3px solid white !important;
  border-top: 3px solid white !important;
}

button:nth-child(4) {
  border: none;
  border-left: 3px solid white !important;
  border-top: 3px solid white !important;
  border-right: 3px solid white !important;
}

button:nth-child(5) {
  border: none;
  border-right: 3px solid white !important;
  border-top: 3px solid white !important;
}

button:nth-child(7) {
  border: none;
  border-left: 3px solid white !important;
  border-top: 3px solid white !important;
  border-bottom: 3px solid white !important;
}

button:nth-child(8) {
  border: 3px solid white !important;
}

button:nth-child(9) {
  border: none;
  border-right: 3px solid white !important;
  border-top: 3px solid white !important;
  border-bottom: 3px solid white !important;
}

button:nth-child(11) {
  border: none;
  border-left: 3px solid white !important;
  border-bottom: 3px solid white !important;
}

button:nth-child(12) {
  border: none;
  border-right: 3px solid white !important;
  border-left: 3px solid white !important;
  border-bottom: 3px solid white !important;
}

button:nth-child(13) {
  border: none;
  border-right: 3px solid white !important;
  border-bottom: 3px solid white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-align: center;
  font-size: 1.75em;
  color: white;
}

.red,
.blue {
  color: white;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

#invalidMove {
  margin-top: 20px;
  padding: 70px;
  width: 100%;
}
